body {
    background-color: black;
  }
  
h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  text-align: left;
}
ul {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: black;
  width: 100%;
  height: 6px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 6px;
  background: gold;
  width: 0%;
} 
/* .profile{
  height: 80px;
} */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.experience {
  text-align: left; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
  width: 100%;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  height: 10px;
  border-radius: 5px
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}

.chemeng {
  width: 100%; 
  background-color: gold; 
  height: 8px; 
  border-radius: 4px;
}
.ops {
  width: 60%; 
  background-color: gold; 
  height: 8px; 
  border-radius: 4px;
}
.design {
  width: 40%; 
  background-color: gold; 
  height: 8px; 
  border-radius: 4px;
}
.programming {width: 30%; 
  background-color: gold; 
  height: 8px; 
  border-radius: 4px;
}
.startups {
  width: 50%; 
  background-color: gold; 
  height: 8px; 
  border-radius: 4px;
}

.column{
  float: left;
  padding: 10px;
}

.column.left{
  width: 33%;
}
.column.right{
  width: 67%;
}